ion-header {
    background-color: #800000;
    color: #ffffff;
  }
  
  ion-item ion-label h2 {
    font-size: 20px;
  }
  
  ion-item ion-label p {
    font-size: 16px;
    margin: 0;
  }
  
  ion-button {
    margin-top: 20px;
    background-color: #FB4A59;
    color: white
  }