ion-card-header {
    background-color: #FB4A59;
    color: #ffffff;
    font-size: 24px;
  }
  
  ion-card-content ion-item {
    margin-top: 10px;
  }
  
  ion-button {
    margin-top: 20px;
    background-color: #FB4A59;
    color: #ffffff;
  }
  