.banner {
  text-align: center;
  margin-top: 20px;
}

.banner img {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.banner h1 {
  font-size: 28px;
  font-weight: bold;
}

.banner p {
  font-size: 16px;
  margin-top: 10px;
}

.home {
  margin-top: 20px;
  background-color: #FB4A59;
  color: white
}

ion-button {
  margin-top: 5px;
  color: #FB4A59;
}
